<main class="" *ngIf="post$ | async as post">
  <article class="w-100 d-flex flex-column h-100">
    <div class="w-100 parallex" style="background-image: url('https://picsum.photos/1920/1080?random={{post.id}}');"></div>
    <!-- https://random.imagecdn.app/ -->
    <!-- <img src="https://random.imagecdn.app/1920/1080" alt="Post Image of {{post.title}}" class="w-100" height="280" style="object-fit: cover;"> -->
    <section class="container flex-grow-1 py-3">

      <div class="d-flex gap-2 align-items-center my-4" *ngIf="author$ | async as author">
        <img src="https://thispersondoesnotexist.com" alt="personal image" class="rounded-circle" style="width: 80px; aspect-ratio: 1;">
        <div class="">
          <div>Author: <a routerLink="/users/{{author.id}}">{{author.username}}</a></div>
          <a class="text-secondary " href="mailto:{{author.email}}">{{author.email}}</a>
        </div>
      </div>

      <h5>{{post.title}}</h5>
      <p>{{post.body}}</p>

      <section class="comments-section ">
        <button (click)="ToggleComments()" class="btn mb-4 fs-6"  [class.btn-outline-primary]="isCommentShown()" [ngClass]="{'btn-primary text-light' : !isCommentShown()}">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 13.5h8m-8-5h4M6.099 19q-1.949-.192-2.927-1.172C2 16.657 2 14.771 2 11v-.5c0-3.771 0-5.657 1.172-6.828S6.229 2.5 10 2.5h4c3.771 0 5.657 0 6.828 1.172S22 6.729 22 10.5v.5c0 3.771 0 5.657-1.172 6.828S17.771 19 14 19c-.56.012-1.007.055-1.445.155c-1.199.276-2.309.89-3.405 1.424c-1.563.762-2.344 1.143-2.834.786c-.938-.698-.021-2.863.184-3.865" color="currentColor"/></svg>
            </i>
          {{isCommentShown()? "Hide":"Show"}} Comments
        </button>

        @if (isCommentShown()) {
        <div class="comments-list d-flex flex-column gap-3">
          <div *ngFor="let comment of comments$ | async;" class="bg-light rounded-3 p-3">
            <h6 class="mb-0">{{comment.name}}</h6>
            <small class="text-secondary">{{comment.email}}</small>
            <p class="mt-2">{{comment.body}}</p>
          </div>
        </div>
        }
      </section>
    </section>
  </article>
</main>