<div class=" mt-4 d-none d-md-grid grid" *ngIf="posts$ | async as posts">

  <div class="column">
    @for (post of posts.slice(0,posts.length*1/3); track post.id;) {
      <post-card [post]="post"/>
    }
  </div>

  <div class="column d-none d-md-grid" style="height: max-content; background-color: white;">
    @for (post of posts.slice(posts.length*1/3, posts.length*2/3+1); track post.id;) {
      <post-card [post]="post"/>
    }
  </div>
  
  <div class="column">
    @for (post of posts.slice(posts.length*2/3+1); track post.id;) {
      <post-card [post]="post"/>
    }
  </div>
</div>



<div class="grid mt-4 d-md-none" *ngIf="posts$ | async as posts">
  <!-- show all images in one column in small screens -->
  <div class="column" style="height: max-content; background-color: white;">
    @for (post of posts; track post.id;) {
      <a class="position-relative">
        <img src="https://picsum.photos/500/700?random={{post.id}}" alt="">
      </a>
    }
  </div>
  <div class="column" style="height: max-content; background-color: white;">
    @for (post of posts; track post.id;) {
      <post-card [post]="post"/>
    }
  </div>
  <div class="column" style="height: max-content; background-color: white;">
    @for (post of posts; track post.id;) {
      <a class="position-relative" >
        <img src="https://picsum.photos/500/700?random={{post.id}}" alt="">
      </a>
    }
  </div>
</div>
