@import "_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";



.authors-link:hover{
    color: $primary;
}
.authors-link:active{
    filter: brightness(0.9);
}

.authors-btn{
    border-radius:  0 0 0 .6rem;
    transform: skew(25deg);
    z-index: 10;
    position: relative;
}
// .authors-btn::before{
//     content: '';
//     background-color: $dark;
//     display: block;
//     position: absolute;
//     bottom: 0;
//     right: -100px;
//     width: 100px;
//     height: 100px;
//     transform: skew(-50deg);
//     z-index: -1;
// }
.authors-btn > *{
    transform: skew(-25deg);
}

.vsign{
    transform: skew(-25deg);
    width: 4rem; 
    height: 3.5rem; 
    display: block;
    background-color: $dark;
    border-radius: 0 0 .6rem 0;
}

.bg-adaptive{
    background-color: transparent;
}

@media screen and (max-width: 765px) {
.bg-adaptive{
    background-color: $light;
}
}
.parallex{
  min-height: 340px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Custom transition */
@keyframes rotate-out {
    to {
        transform: rotate(90deg);
    }
}
@keyframes rotate-in {
    from {
        transform: rotate(-90deg);
    }
}

::view-transition-old(count),
::view-transition-new(count) {
    animation-duration: 200ms;
    animation-name: -ua-view-transition-fade-in, rotate-in;
}
::view-transition-old(count) {
    animation-name: -ua-view-transition-fade-out, rotate-out;
}